@import url("var.css");
@import url("keyFrames.css");

@font-face {
    font-family: Judgement;
    src: url("./fonts/Judgement Bold.otf");
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 10px;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--BackgroundColor);
    height: 100vh;
}

body.flex {
    display: flex;
    justify-content: center;
}

body.flex.video {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body.flex.video img {
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.indexMain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

}

.mainTitle {
    position: relative;
    margin: 0;
    color: #fff;
    font-family: var(--Font);
    font-size: 10.8rem;
    line-height: 10rem;
}

.mainTitle .accent {
    color: var(--Yellow);
}

.subTitle {
    margin: 0;
    margin-bottom: 4rem;
    line-height: 7.8rem;
    color: var(--Gray);
    font-family: var(--Font);
    font-size: 8rem;
}

.swalTitle {
    font-family: var(--Font);
    font-size: 4rem;
} 

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 50rem;
    width: 50%;
}

form input {
    height: 5rem;
    border: 2px solid black ;
    border-radius: 16px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}



form button {
    height: 3.5rem;
    border:  2px solid black;
    border-radius: 32px;
    font-weight: bolder;
    max-width: 30rem;
    width: 80%;
}

.thunder {
    position: absolute;
    transition-duration: 0.5s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#lighning1 {
    transform: rotate(36deg);
    bottom: 200px;
    left: 150px;
    animation-name: lightning1;
}

#lighning2 {
    transform: rotate(65deg);
    bottom: 200px;
    right: -50px;
    animation-name: lightning2;
}

#lighning3 {
    transform: rotate(119deg);
    bottom: 10px;
    right: -200px;
    animation-name: lightning3;
}

#lighning4 {
    transform: rotate(170deg);
    bottom: -250px;
    right: -200px;
    animation-name: lightning4;
}

#lighning5 {
    transform: rotate(200deg);
    bottom: -400px;
    right: 0;
    animation-name: lightning5;
}

#lighning6 {
    transform: rotate(236deg);
    bottom: -400px;
    left: 50px;
    animation-name: lightning6;
}

#lighning7 {
    transform: rotate(271deg);
    bottom: -200px;
    left: -175px;
    animation-name: lightning7;
}

#lighning8 {
    transform: rotate(360deg);
    bottom: 110px;
    left: -175px;
    animation-name: lightning8;
}

iframe {
    width: 100vw;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .thunder {
        display: none;
    }

    #lighning1, #lighning2 , #lighning5 , #lighning6 {
        display: block;
    }

    #lighning1, #lighning6 {
        left: 25px;
    }
    
    #lighning2, #lighning5 {
        right: 25px;
    }

}

@media screen and (max-width: 650px) {
    html {
        font-size: 7px;
    }

    #lighning1, #lighning6 {
        left: -10px;
    }
    
    #lighning2, #lighning5 {
        right: -10px;
    }

    #lighning1, #lighning2 {
        top: -200px;
    }

    #lighning5, #lighning6 {
        bottom: -300px;
    }
}

@media screen and (max-width: 550px) {
    .mainTitle {
        font-size: 9rem;
        line-height: 8.6rem;
    }

    form button {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 6px;
    }
}

.back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: blueviolet;
    color: #fff;
    border-radius: 1000000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}